<div class="product-summary" data-js-product-summary>
  <h3 class="product-summary__name">
   <span class="product-summary__name-qty">6</span>X COLLAGENICO + <span class="product-summary__name-ebook">Ebook</span><span class="product-summary__name-gifts"></span> + 2 GRATIS</span></h3>

  <div class="product-summary__table">
     <div class="product-summary__table-row">
        <div class="product-summary__table-key">Cena detaliczna:</div>
        <div class="product-summary__table-value" data-js-retail-price-value>482 PLN</div>
     </div>
     <div class="product-summary__table-row">
        <div class="product-summary__table-key">Twoja cena:</div>
        <div class="product-summary__table-value" data-js-discounted-price-value>299 PLN</div>
     </div>
     <div class="product-summary__table-row">
        <div class="product-summary__table-key">Wysyłka i obsługa:</div>
        <div class="product-summary__table-value" data-js-shipping-value>0 PLN</div>
     </div>

     <div class="product-summary__table-row product-summary__table-row--total">
        <div class="product-summary__table-key">Łączna kwota:</div>
        <div class="product-summary__table-value" data-js-total-value>299 PLN</div>
     </div>
  </div>
</div>