.button {
    font-family: 'Inter', sans-serif;
    display: inline-flex;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

a.button:not(.button--navi) {
    text-decoration: none;
    color: $black;
}

.button--primary {
    border: 1px solid $yellow;
    border-radius: 4px;
    padding: rem(12) rem(20);
    background: $yellow;

    font-weight: 500;
    font-size: rem(14);
    letter-spacing: $tight;
    line-height: rem(17);
    text-transform: uppercase;
    transition: background 0.20s ease-in-out, box-shadow 0.20s ease-in-out, border-color 0.20s ease-in-out, color 0.20s ease-in-out;

    &:hover,
    &:focus {
        transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
        background: $yellow-light;
        border-color: $yellow-light;

        -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
    }

    &.white-shadow:hover,
    &.white-shadow:focus {
        -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.4);
        box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.4);
    }

    &.dark-hover:hover,
    &.dark-hover:focus {
        background: $black;
        border-color: $black;
        color: white;
    }

    @include above(lg){
        padding: 18.5px rem(24);
        font-weight: 600;
        font-size: 1rem;
        line-height: rem(20);
        letter-spacing: $wide;
    }
}

a.button--navi {
    padding: rem(8) rem(16);
    background: transparent;
    border-radius: 4px;
    border: 1px solid $yellow;
    text-decoration: none;
    color: $yellow;
    text-transform: uppercase;
    font-weight: 500;
    font-size: rem(12);
    line-height: rem(15);
    letter-spacing: $wide;

    transition: background 0.20s ease-in-out, box-shadow 0.20s ease-in-out, color 0.20s ease-in-out, border-color 0.20s ease-in-out;

    &:hover,
    &:focus {
        transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
        color: $black;
        background: $yellow-light;
        border-color: $yellow-light;
        
        -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.4);
        box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.4);
    }

    @include above(lg) {
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(17);
        padding: rem(12) rem(20);
    }
}