<section class="not-found">
    <div class="container">
        <div class="not-found__wrapper">
            <header class="not-found__header">
                <h1 class="not-found__title"> Strona 404: Nie Znaleziono Strony </h1>
            </header>
            
            <div class="not-found__content">
                <h2 class="not-found__heading"><b>Ups! Wygląda na to, że coś poszło nie tak...</b></h2>

                <p class="not-found__para">Nie możemy znaleźć strony, której szukasz. Może została usunięta, zmieniono jej adres, albo nigdy nie istniała. Przepraszamy za niedogodności.</p>
            </div>

            <a class="not-found__button button button--primary" href="{{ .Site.BaseURL }}">
                <span>Wracam na stronę główną</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 12L21 12" stroke="white" stroke-linecap="round"/>
                    <path d="M15 18L21 12L15 6" stroke="white" stroke-linecap="round"/>
                </svg>
            </a>
        </div>
    </div>
</section>
