$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$tight: -0.025em;
$tighter: -0.05em;
$tightest: -0.1em;
$wide: 0.025em;
$wider: 0.05em;
$widest: 0.1em;
$alert: #BA1010;
$black: #313131;
$gray: #EEEEEE;
$gray-lighter: #F6F6F6;
$gray-light: #C3C3C3;
$gray-dark: #5F5F5F;
$gray-line: #666666;
$beige: #ECE0D7;
$beige-light: #F2EAE4;
$beige-dark: #DCCDC1;
$navy: #4847EB;
$dark-navy: #2D2CC7;
$green: #64931A;
$dark-green: #4B720F;
$green-text: #559C47;
$green-text-2: #5EAF4B;
$lime-green: #E7F5CE;
$brown-light: #A97D50;
$gray-label: #868686;
$violet: #D62ED0;
$pink: #D75EA4;
$orange: #FF8A00;
$font-headings: "Playfair Display", serif;
$font-primary: "Inter", sans-serif;
$font-libre-caslon: "Libre Caslon Display", serif;
$font-satoshi: "Satoshi", sans-serif;