{{- with .list -}}
    {{ if gt (len .) 0 }}
    <ul class="opinions__list">
        {{- range . -}}
        <li class="opinions__list-item">
            <article class="opinions__list-inner">
                <header class="opinions__list-header">
                    
                    <figure class="opinions__list-figure">
                        {{- if .figure -}}
                            <img class="opinions__list-img" src="{{ .figure }}" alt="Figure">
                        {{- end -}}
                    </figure>
                   
                    <div class="opinions__list-entry">
                        <div class="opinions__list-stars-wrap">
                            <div class="opinions__list-stars">
                            {{ range seq 5 }}
                                <span class="star star-filled">
                                    <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4723 3.83584L15 2.47714L14.5277 3.83584L11.8206 11.6239L3.57714 11.7919L2.139 11.8212L3.28525 12.6902L9.8556 17.6715L7.468 25.5634L7.05146 26.9402L8.23217 26.1186L15 21.4091L21.7678 26.1186L22.9485 26.9402L22.532 25.5634L20.1444 17.6715L26.7148 12.6902L27.861 11.8212L26.4229 11.7919L18.1794 11.6239L15.4723 3.83584Z" fill="#64931A" stroke="#64931A"/>
                                    </svg>
                                </span>
                            {{ end }}
                            </div>

                            <span class="opinions__list-rate">Ocena <b>{{ .rate }}/5</b></span>
                        </div>

                        {{- if .label -}}
                        <div class="opinions__label opinions__label--mobile">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99935 18.3332C14.6017 18.3332 18.3327 14.6022 18.3327 9.99984C18.3327 5.39746 14.6017 1.6665 9.99935 1.6665C5.39698 1.6665 1.66602 5.39746 1.66602 9.99984C1.66602 14.6022 5.39698 18.3332 9.99935 18.3332Z" stroke="#64931A"/>
                                <path d="M5.83398 10.8333L8.33398 13.3333L14.1673 7.5" stroke="#64931A" stroke-linecap="round"/>
                            </svg>
                                
                            <span class="opinions__label-text">{{ .label }}</span>
                        </div>
                        {{- end -}}
                    </div>
                </header>
                {{- if .quote -}}
                <div class="opinions__list-content">
                    {{- if .label -}}
                    <div class="opinions__label opinions__label--desktop">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99935 18.3332C14.6017 18.3332 18.3327 14.6022 18.3327 9.99984C18.3327 5.39746 14.6017 1.6665 9.99935 1.6665C5.39698 1.6665 1.66602 5.39746 1.66602 9.99984C1.66602 14.6022 5.39698 18.3332 9.99935 18.3332Z" stroke="#64931A"/>
                            <path d="M5.83398 10.8333L8.33398 13.3333L14.1673 7.5" stroke="#64931A" stroke-linecap="round"/>
                        </svg>
                            
                        <span class="opinions__label-text">{{ .label }}</span>
                    </div>
                    {{- end -}}
                    <blockquote>
                        {{ .quote }}
                    </blockquote>
                    {{ if .name }}
                    <span class="opinions__list-name">
                        {{ .name }}
                    </span>
                    {{- end -}}
                </div>
                {{- end -}}
            </article>
        </li>
        {{- end -}}
    </ul>
    {{- end -}}
{{- end -}}