{{ define "main" }}
  {{ partial "index/hero.html" . }}
  {{ partial "index/problems.html" . }}
  {{ partial "index/differences.html" . }}
  {{ partial "index/how_it_works.html" . }}
  {{ partial "index/ingredients.html" . }}
  {{ partial "index/numbers.html" . }}
  {{ partial "index/certificates.html" . }}
  {{ partial "index/references.html" . }}
  {{ partial "index/opinions.html" . }}
  {{ partial "index/source.html" . }}
  {{ partial "index/gifts.html" . }}
  {{ partial "index/set.html" . }}
  {{ partial "index/sale-form.html" . }}
  {{ partial "index/references-science.html" . }}
{{ end }}